<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Disable zoom-to-pinch browser behaviour -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>"Myhealth"</title>

    <!-- build:css styles/vendor.css -->
    <!-- <link rel="stylesheet" href="vendor/some.contrib.css"> -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ionic/release/css/ionic.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>

  <body ng-app="Myhealth" ng-controller="MapCtrl" ng-cloak>
    <ion-header-bar class="bar-stable">
      <h1 class="title">Map</h1>
    </ion-header-bar>

    <ion-content scroll="true">
      <!-- START SITE -->
      <div class="site">

        <!-- START LOGO -->
        <section class="page-logo">
          <h1><!-- css logo --></h1>
          <header>
            <span class="header-menu-items" id="left">Slogan</span>
            <span class="header-menu-items" id="left">Header Paragraph</span>
            <span class="header-menu-items" id="right">Map</span>
            <span class="header-menu-items" id="right">Location</span>
          </header>

        </section>

        <!-- START SIDEBAR -->
        <section class="sidebar">
          <header>Menu
          </header>
          <nav>
            <ul class="sidebar-menu">
              <li>Allergies</li>
              <li>Vaccinations</li>
              <li>Medications</li>
              <li>Medical History</li>
              <li>Surgical History</li>
            </ul>
          </nav>
          <footer>
            <p>
              <map on-create="mapCreated(map)"></map>
            </p>
          </footer>
        </section>
        <!-- END SIDEBAR -->

        <!-- START CONTENT -->
        <section class="page-content">
          <aside>
            <!-- <input type="button" name="removeIcons" value="Remove Icons" ng-click="removeIcons()"> -->
          </aside>
          <p>
            <div id="streetview"></div>
          </p>
          <div class="box">
            
            <h1>Allergies</h1>
            <div id="container">
              <div class="compartment">
                <div>Food<br>
                  <a href="#">Link</a>
                </div>
                <div>Type
                </div>
                <div>Reaction
                </div>
              </div>
              <div class="compartment">
                <div>Drugs
                </div>
                <div>Type
                </div>
                <div>Reaction
                </div>
              </div>
              <div class="compartment">
                <div>Substance
                </div>
                <div>Type
                </div>
                <div>Reaction
                </div>
              </div>
            </div>

          </div>
          <footer class="page-footer">
            <div class="page-footer-info">
              &copy; Luke Schoen 2014
            </div>
          </footer>
        </section>
        <!-- END CONTENT -->

      </div>
      <!-- END SITE -->

    </ion-content>

    <ion-footer-bar class="bar-stable">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
    </ion-footer-bar>

    <!-- build:js scripts/vendor.js -->
    <!-- The default Ionic Google Maps API file was downloaded from: -->
    <!-- https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&sensor=true -->
    <!-- Saving it in the vendor/ directory allows it to be bundled as part of the build system. -->
    <!-- You should replace it with a version downloaded using your API key -->
    <!-- Note: Default Google Maps API key file has been replaced with custom API key file by copying -->
    <!-- the above link into the browser, and pasting the API key provided by Google Maps API -->
    <script src="vendor/google/maps.js"></script>
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/collide/collide.js"></script>
    <script src="bower_components/ionic/release/js/ionic.js"></script>
    <script src="bower_components/ionic/release/js/ionic-angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/config.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/directives.js"></script>
    <script src="scripts/services.js"></script>
    <!-- endbuild -->
</body>
</html>
